body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635F5D;
}
.mark {
  fill: #137B80;
}
.xAxisLabel {
  fill: #635F5D;
  font-size: 1.5em;
}
.yAxisLabel {
  fill: #635F5D;
  font-size: 1.5em;
}
.line {
  stroke: #137B80;
  stroke-linejoin: round;
  stroke-width: 3;
}
.marks .land {
  fill: #137B80;
}
.marks .sphere {
  fill: #ececec;
}
.marks .interiors {
  fill: none;
  stroke: #43A4A8;
}
.marks .graticules {
  fill: none;
  stroke: #dadada;
}